data/sample/*
qdrant_storage/
qdrant_101/notes
.ipynb_checkpoints
101-foundations/qdrant_101_image_data/vecs.npy
data
101-foundations/qdrant_101_image_data/vectors.npy
101-foundations/qdrant_101_image_data/image_search_app.py
*.json
*/*.log
*/.env
.venv/
